
          <form>
            <div class="public_m2">登录密码修改</div>
            <!--提示信息-->
            <div class="tip_notem">
              <ul>
                <li>1.请牢记登录密码</li>
                <li>2.如果丢失密码，可以通过绑定的手机或邮箱找到</li>
              </ul>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">原来的密码</label>
                  <input type="password" class="form-control" id="pwdId" >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">新建的密码</label>
                  <input type="password" class="form-control" id="newPwdId">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">确定的密码</label>
                  <input type="password" class="form-control" id="cfgPwdId">
                </div>
              </div>
            </div>

            <button type="button" class="btn btn-light pull-left btn-cancel">取消配合</button>
            <button type="button" class="btn btn-primary pull-right btn-save">提交配置</button>
            <div class="clearfix"></div>
          </form>

          <script type="text/css">
            .public_m2 {
              width: 888px;
              height: 20px;
              overflow: hidden;
              line-height: 20px;
              font-size: 18px;
              color: #333;
              border-left: 3px solid #fa3b4a;
              text-indent: 6px;
              margin-bottom: 19px
            }
            /*提示信息*/
            .tip_notem {
              width: 888px;
              height: auto;
              overflow: hidden
            }
            .tip_notem ul {
              width: 888px;
              height: auto;
              overflow: hidden
            }

            .tip_notem ul li {
              width: 888px;
              height: auto;
              line-height: 24px;
              color: #999;
              font-size: 14px;
              height: 24px
            }
          </script>
          <script type="text/javascript">
            $(function(){
              $("form")
                      .on("click",".btn-cancel",doCancel)
                      .on("click",".btn-save",doUpdateObject)
            });
            function doCancel(){
              // $("#userContent").html("");
              $(".content").load("userAdmin/doUserAdminListUI");
            }
            function doUpdateObject(){
              //1.获取用户提交数据
              var params={pwd:$("#pwdId").val(),
                newPwd:$("#newPwdId").val(),
                cfgPwd:$("#cfgPwdId").val()
              }
              //console.log(params);  //test1
              //2.定义请求的url
              var url="userAdmin/doUpdatePassword"
              //3.异步提交请求,执行更新操作
              $.post(url,params,function(result){
               // console.log(result);//test2给我看看
                alert(result.message);
              })
            }

          </script>